<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
          <input type="search" class="search" placeholder="Search..." />
          <button class="search-menu-btn ripple">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div *ngIf="canShowSearchAsOverlay">
          <button
            [cdkMenuTriggerFor]="searchOverLay"
            class="search-menu-btn ripple"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <img [src]="'assets/flags/india.jpg'" class="flag" alt="flag" />
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple" (click)="expand()">
            <i class="fa fa-expand"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu icon"></i>
          </button>
        </div>
        <div class="head-menu-item" [cdkMenuTriggerFor]="walletOverLay">
          <button class="head-menu-item-btn ripple">
            <i class="fa-solid fa-wallet"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverLay">
          <img
            src="{{ profilepicturesignal().path }}"
            alt="user"
            class="user-avatar"
          />
          <!-- <img src="../../assets/user3.jpg" alt="user" class="user-avatar">-->
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #searchOverLay>
  <div class="overlay overlay-search overlay-fall" cdkMenu>
    <input type="search" class="search" name="" id="" placeholder="Search..." />
    <button class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </div>
</ng-template>
<ng-template #userOverLay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
    <ul>
      <li>
        <a style="text-decoration: none" [routerLink]="['settings']">
          <i class="icon" [ngClass]="'far fa-user'"></i>
          <span>Profile</span>
        </a>
      </li>
      <li style="margin: auto">
        <a
          style="text-decoration: none"
          (click)="userfunction('userlogout')"
          [routerLink]="['user-login']"
        >
          <i class="icon" [ngClass]="'fa fa-sign-out'"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #walletOverLay>
  <div class="overlay overlay-wallet overlay-fall" cdkMenu>
    <ul>
      <li>
        <a style="text-decoration: none">
          <span
            >Balance
            <span style="color: green; margin-right: 5px">{{
              this.profile.getprofile()().wallet
            }}</span></span
          >

          <!--   <i class="icon" [ngClass]="'fas fa-rupee-sign'"></i>-->
          <i class="icon" [ngClass]="'fa fa-inr'"></i>
        </a>
      </li>
      <li>
        <a style="text-decoration: none" [routerLink]="['coupens']">
          <span>Add Money</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
