<div class="card">
  <div class="card-head">All Your Created Test</div>
  <div class="card-body" id="presenttest">
    <table>
      <tr>
        <th>Name</th>
        <th>Difficulty</th>

        <th>Duration</th>

        <th></th>
      </tr>
      <tr *ngFor="let i of qp">
        <td>{{ i.Name }}</td>
        <td>{{ i.Difficulty }}</td>
        <td>{{ i.Duration }}</td>

        <td>
          <button
            mat-raised-button
            color="primary"
            (click)="getquestionpaper(i.Qs, i.Duration)"
          >
            Restart
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="loading" class="spinner-overlay">
  <!--<mat-spinner></mat-spinner>-->
  <div class="spinner"></div>
</div>
