<div class="card">
  <div class="card-head">
    <div style="margin-right: auto">
      <button
        mat-raised-button
        color="primary"
        style="margin-left: 10px"
        (click)="tologinpage()"
      >
        SignUp/Login
      </button>
    </div>
    <div style="color: rgb(123, 123, 138); margin: auto">
      <i class="fa-solid fa-square-t">Testtify</i>
    </div>
  </div>
  <div class="card-body" id="cardbody" (resized)="onResized($event)">
    <div style="width: 50%; max-height: 80%; min-width: 200px" id="image">
      <img src="/assets/logo.jpg" class="img" alt="" />
    </div>
    <div
      style="background-color: rgb(240, 228, 213); width: 50%; min-width: 500px"
      id="welcomebox"
    >
      <div
        style="
          padding: 2rem;
          position: relative;
          top: 20%;
          font-size: 2rem;
          font-weight: 500;
        "
      >
        Welcome
      </div>
      <div style="padding: 2rem; position: relative; top: 15%">
        Introducing Testtify, your ultimate companion for JEE (Joint Entrance
        Examination) preparation, powered by cutting-edge Artificial
        Intelligence. At Testtify, we've redefined the way you tackle one of the
        most challenging entrance exams in the world. Our platform leverages the
        incredible capabilities of AI to craft JEE question papers that are not
        only comprehensive but also precisely aligned with the exam syllabus.
        With Testtify, you can bid farewell to outdated study materials and say
        hello to a smarter and more effective way of preparing for JEE. Our AI
        algorithms analyze vast repositories of exam content, ensuring that you
        receive practice papers that mirror the real exam in difficulty, style,
        and subject matter. We understand that success in JEE requires a
        holistic approach, and our platform provides you with the tools you need
        to excel. Join us on a journey where artificial intelligence meets
        academic excellence, and let Testtify empower your ambitions for JEE
        success. Experience the future of education today, and embark on your
        path to mastering this pivotal examination with confidence.
      </div>
    </div>
  </div>
</div>
