<button
  mat-raised-button
  color="primary"
  style="margin: 1.5rem"
  (click)="showsidehead()"
  *ngIf="!sidehead && !loggedin"
>
  Exit Full Screen
</button>
<app-sidenav
  (onToggleSideNav)="onToggleSideNav($event)"
  *ngIf="sidehead && !loggedin"
></app-sidenav>
<app-header
  [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
  (maximize)="maximize($event)"
  *ngIf="sidehead && !loggedin"
  (logout)="logout($event)"
></app-header>
<app-body
  [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
  [sidehead]="!sidehead"
  *ngIf="!loggedin"
>
</app-body>
<app-introduction *ngIf="intro" (intro)="getintro($event)"></app-introduction>

<app-user-login
  *ngIf="loggedin && !intro"
  (logged)="setlogged($event)"
></app-user-login>
