<div class="courseheading" *ngIf="view">Choose Your Plan</div>
<div id="displaycourses" (resized)="onResized($event)" *ngIf="view">
  <div class="card" *ngFor="let course of combo">
    <div class="card-head">{{ course.name }}</div>
    <div class="card-body">
      <div>
        <ul>
          <li *ngFor="let pt of course.points">{{ pt }}</li>
        </ul>
      </div>
      <div>
        @ <i class="icon" [ngClass]="'fa fa-inr'"></i> {{ course.rate }} /{{
          course.st
        }}
      </div>
      <div *ngIf="course.id != 1">
        <button mat-raised-button color="primary" (click)="start(course.id)">
          Buy now
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!view">
  You Choose
  <span style="font-size: 20px; color: rgb(37, 73, 0)">{{ planstr }}</span>
  plan, valid until
  <span style="font-size: 20px; color: rgb(2, 117, 54)">{{ expirydate }}</span>
</div>
<div *ngIf="loading" class="spinner-overlay">
  <!--<mat-spinner></mat-spinner>-->
  <div class="spinner"></div>
</div>
