<div [ngClass]="contestclass" (resized)="onResized($event)">
  <div class="container-flex">
    <div class="card">
      <div class="card-head">Up Comming Test</div>
      <div class="card-body" id="upcomingtest">
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
          </li>
          <li>
            necessitatibus autem laborum veritatis similique iste sapiente,
            itaque soluta voluptate quibusdam!
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-head">Present Test</div>
      <div class="card-body" id="presenttest">
        <ul>
          <li>
            vel saepe dolor, quibusdam nam provident maxime minima ut nihil?
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem
          </li>
          <li>
            vel saepe dolor, quibusdam nam provident maxime minima ut nihil?
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem
            vel saepe dolor, quibusdam nam provident maxime minima ut nihil?
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-head">Past Test</div>
      <div class="card-body" id="pasttest">
        <ul>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium, et.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero velit
            nulla ut fugit non aperiam perspiciatis ea quae ratione atque est
            accusantium rerum sint eveniet minima, beatae ducimus. Voluptatum,
            consectetur.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="card-head">Create Your Test Just Follow The Steps Below</div>
      <div class="card-body">
        <ul>
          <li style="padding: 1rem">First Go To Sidenav</li>

          <li style="padding: 1rem">Go To Create Your Test</li>
          <img class="stepsimage" src="/assets/createyourtest.jpg" alt="" />

          <li style="padding: 1rem">Fill The difficulty</li>
          <li style="padding: 1rem">Choose your topics</li>
          <img class="stepsimage" src="/assets/after subject.jpg" alt="" />
          <li style="padding: 1rem">Click Start button to start your test</li>
        </ul>
      </div>
    </div>
  </div>
</div>
