<cd-timer format="hms" (onTick)="ontick()" style="display: none"></cd-timer>
<div [ngClass]="contestclass" (resized)="onResized($event)">
  <div class="container-flex">
    <div class="card">
      <div class="card-head">Ongoing Contests</div>
      <div class="card-body" id="presenttest">
        <table>
          <tr>
            <th>Name</th>
            <th>Difficulty</th>

            <th>Time Left</th>

            <th>Topics</th>
            <th></th>
          </tr>
          <tr *ngFor="let i of ongoing">
            <td>{{ i.Name }}</td>
            <td>{{ i.Difficulty }}</td>
            <td>{{ i.Duration }} Minutes</td>
            <td>
              {{ i.Topics }}
            </td>
            <td>
              <button
                mat-raised-button
                color="primary"
                (click)="rankboosterlivetest(i.Name, i.Start)"
              >
                Start
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-head">Up Comming Test</div>
      <div class="card-body" id="upcomingtest">
        <table>
          <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Start</th>
            <th>Duration</th>

            <th>Topics</th>
            <th>Prize</th>
          </tr>
          <tr *ngFor="let i of upcoming">
            <td>{{ i.Name }}</td>
            <td>{{ i.Difficulty }}</td>
            <td>{{ i.StartAt }}</td>
            <td>{{ i.Duration }} Minutes</td>
            <td>
              {{ i.Topics }}
            </td>
            <td>{{ i.Prize }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-head">Past Test</div>
      <div class="card-body" id="pasttest">
        <table>
          <tr>
            <th>Test Name</th>
            <th>Topics</th>
            <th>Difficulty</th>
            <th>Duration</th>
            <th></th>
          </tr>
          <tr *ngFor="let i of pasttest">
            <td>{{ i.Name }}</td>
            <td>
              {{ i.Topics }}
            </td>
            <td>{{ i.Difficulty }}</td>
            <td>{{ i.Duration }} Minutes</td>
            <td>
              <button
                mat-raised-button
                color="primary"
                (click)="rankboosterpasttest(i.Name, i.Duration)"
              >
                Practice
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!--
  <div>
    <div class="card">
      <div class="card-head">Create Your Test Just Follow The Steps Below</div>
      <div class="card-body">
        <ul>
          <li style="padding: 1rem">First Go To Sidenav</li>

          <li style="padding: 1rem">Go To Create Your Test</li>
          <img class="stepsimage" src="/assets/createyourtest.jpg" alt="" />

          <li style="padding: 1rem">Fill The difficulty</li>
          <li style="padding: 1rem">Choose your topics</li>
          <img class="stepsimage" src="/assets/after subject.jpg" alt="" />
          <li style="padding: 1rem">Click Start button to start your test</li>
        </ul>
      </div>
    </div>
  </div>
  -->
</div>
<div *ngIf="loading" class="spinner-overlay">
  <!--<mat-spinner></mat-spinner>-->
  <div class="spinner"></div>
</div>
