<div class="logo">
  <img src="/assets/testify.jpg" alt="" />
</div>
<div class="card">
  <div class="card-head">Testify coupons</div>
  <div class="card-body">
    <ul>
      <li>
        Reffer Some One With Your RefferCode and you will get
        <span style="color: #ff0404; font-size: larger">@200</span> Rupee in
        your Testify Wallet
      </li>
      <li>
        Your coupon code is
        <span style="color: #ff0404; font-size: larger"
          >testify@9517415732</span
        >
      </li>
    </ul>
  </div>
</div>
